<!-- Display an individual ticket details -->
<h2><%=@ticket['subject']%></h2>

<p>
  Created: <%=@ticket['created_at']%>  - Last updated: <%=@ticket['updated_at']%><BR /><BR />
  Ticket id: <%=@ticket['id']%></br>
  Ticket Status: <%=@ticket['status']%></br><Br />
  Description of Ticket: <%=@ticket['description']%></br>
</p><BR />

<%= link_to 'Back', :back %>
