<!-- Display an individual ticket details -->
<h2 id ="ticket_title"><%= @ticket.subject %></h2>

<div class="ticket_id_and_status">
  Ticket id: <%= @ticket.id %> - Status  <%= @ticket.status %>
</div>

<div class="ticket_time_details">
  Created: <%= @ticket.created_at.strftime("%I:%M:%p on %A %d %B %Y") %> <br>
  Last updated: <%= @ticket.updated_at.strftime("%I:%M:%p on %A %d %B %Y") %>
</div>

<div class="description_of_ticket">
  Description of Ticket: <br><br><%= @ticket.description %>
</div>

<%= link_to 'Back', :back, class: 'btn btn-default' %>
