<!-- Display an individual ticket details -->
<h2 id ="ticket_title"><%= @ticket.subject %></h2>

<p>
  <div>Created: <%= @ticket.created_at %>  - Last updated: <%= @ticket.updated_at %></div>
  <br><br>
  Ticket id: <%= @ticket.id %><br>
  Ticket Status: <%= @ticket.status %><br><br>
  Description of Ticket: <%= @ticket.description %><br>
</p><br>

<%= link_to 'Back', :back, class: 'btn btn-default' %>
